{% extends 'base.html.twig' %}

{% block title %}Fourniseur{% endblock %}

{% block body %}
    <h1>Fourniseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fourniseur.id }}</td>
            </tr>
            <tr>
                <th>RaisionSocial</th>
                <td>{{ fourniseur.raisionSocial }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ fourniseur.datecreation ? fourniseur.datecreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Matruclefiscal</th>
                <td>{{ fourniseur.matruclefiscal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fourniseur_index') }}">back to list</a>

    <a href="{{ path('fourniseur_edit', {'id': fourniseur.id}) }}">edit</a>

    {{ include('fourniseur/_delete_form.html.twig') }}
{% endblock %}
