{% extends 'base.html.twig' %}

{% block title %}Magazin{% endblock %}

{% block body %}
    <h1>Magazin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ magazin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ magazin.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('magazin_index') }}">back to list</a>

    <a href="{{ path('magazin_edit', {'id': magazin.id}) }}">edit</a>

    {{ include('magazin/_delete_form.html.twig') }}
{% endblock %}
