{% extends 'base.html.twig' %}

{% block title %}Achat{% endblock %}

{% block body %}
    <h1>Achat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ achat.id }}</td>
            </tr>
            <tr>
                <th>Codefacture</th>
                <td>{{ achat.codefacture }}</td>
            </tr>
            <tr>
                <th>Datefacture</th>
                <td>{{ achat.datefacture ? achat.datefacture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Dateaujo</th>
                <td>{{ achat.dateaujo ? achat.dateaujo|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('achat_index') }}">back to list</a>

    <a href="{{ path('achat_edit', {'id': achat.id}) }}">edit</a>

    {{ include('achat/_delete_form.html.twig') }}
{% endblock %}
